/*
	Import
	------------------------------------------------
*/

@import 'mixins';
@import 'placeholders';


.navbar {
    width: 100vw;
    display: block;
    position: fixed;
    height: 100vh;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    @extend %background-gradient;
    @include animate( all, 320ms, ease-in-out );
    .bg_logo {
        width: 150px;
        max-width: 100%;
        position: absolute;
        top: 19%;
        right: 8%;
        background-size: 150px;
    }
    .collapse {
        position: absolute;
        top: 60%;
        @include transform ( translateY(-50%) );
        right: 111px;
    }
    .navbar-nav {
        text-align: right;
        display: block;
        width: 100px;
    }
    .nav-item {
        margin: 20px 0 0 0;
        @include animate( all, 320ms, ease-in-out );
        opacity: 1;
        @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
                animation-name : menu1;
                animation-duration : 700ms;
                animation-timing-function : ease-in-out;
                animation-direction: alternate;
                animation-fill-mode : forwards;
            }
            @keyframes menu1 {
                0% {
                    opacity: 0;
                    @include transform ( translateX(-20%) );
                }
                100% {
                    opacity: 1;
                    @include transform ( translateX(0) );
                }
            }
        }

        a {
            font-size: 21px;
            color: #fff;
        }
        
        &.show-li-nav:hover {
            margin: 20px 10px 0 0;
        }
    }
}

.open {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    .nav-item {
        opacity: 0;
        @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
                animation-name : menu;
                animation-duration : 400ms;
                animation-delay: (100ms * $i) - 200 ;
                animation-timing-function : ease-in-out;
                animation-direction: alternate;
                animation-fill-mode : forwards;
            }
            
            @keyframes menu {
                0% {
                    opacity: 0;
                    @include transform ( translateX(0) );
                }
                100% {
                    opacity: 1;
                    @include transform ( translateX(-20%) );
                }
            }
        }
    }
}

.nav-toggle {
    width: 55px;
    height: 55px;
    display: inline-block;
    position: fixed;
    top: 9px;
    right: 9%;
    background-color: #fff;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    box-shadow: 0 4px 18px rgba(51, 51, 51, 0.09);
    .menu {
        width: 30px;
        height: 21px;
        position: relative;
        top: 50%;
        left: 50%;
        @include transform ( translate(-50%, -50%) );
        .line1,
        .line2,
        .line3 {
            position: absolute;
            background-color: #333;
            width: 100%;
            height: 2px;
            border-radius: 15px;
            @include animate( all, 320ms, cubic-bezier(0.42, 0, 0.38, 1.54) );
        }
        .line1 {
            top: 2px;
        }
        .line2 {
            top: 10px;
        }
        .line3 {
            top: 18px;
        }
    }
}

.nav-toggle.toggle {
    .line1,
    .line2,
    .line3 {
        top: 10px;
    }
    .line1 {
        @include transform ( rotate(45deg) );
    }
    .line2 ,
    .line3 {
        @include transform ( rotate(-45deg) );
    }
}


.navbar a .bg_logo {
    background-image: url(http://via.placeholder.com/230x58); 
}

.option-box {
    top: 170px;
}

/* X Small Screen */
@media(min-width: 100px) and (max-width: 991px) {
    
    .navbar-toggler {
        display: none;
    }
    
    .navbar {
            background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 1%, black 100%);
            background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 1%, black 100%);
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 1%, black 100%);
        .collapse {
            right: 62px;
            display: block;
        }
        .navbar-nav {
            border-top: none;
        }
    }
}